/* ===== RESET ===== */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Segoe UI",sans-serif;
}

/* ===== APP WRAPPER ===== */
.app{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:.4s;
  position:relative;
}

/* DARK */
.app.dark{
  background: radial-gradient(circle at top,#0b132b,#020617 70%);
}

/* LIGHT */
.app.light{
  background: linear-gradient(135deg,#e2e8f0,#cbd5f5);
}

/* ===== MODE BUTTON ===== */
.mode-container{
  position:absolute;
  top:20px;
  right:20px;
}

.mode-btn{
  border:none;
  padding:10px 18px;
  border-radius:20px;
  font-weight:600;
  cursor:pointer;
  background:#1e293b;
  color:white;
}

.app.light .mode-btn{
  background:white;
  color:#0f172a;
  box-shadow:0 5px 12px rgba(0,0,0,0.15);
}

/* ===== CALCULATOR ===== */
.calculator{
  width:330px;
  padding:22px;
  border-radius:24px;
  background:linear-gradient(145deg,#0f172a,#020617);
  box-shadow:0 30px 60px rgba(0,0,0,0.7);
  display:flex;
  flex-direction:column;
  gap:14px;
}

.app.light .calculator{
  background:white;
}

/* ===== DISPLAY ===== */
.display{
  height:70px;
  border-radius:16px;
  padding:14px;
  text-align:right;
  font-size:28px;
  color:#e2e8f0;
  background:rgba(255,255,255,0.05);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  overflow:hidden;
}

.app.light .display{
  color:#0f172a;
  background:#f1f5f9;
}

/* ===== ROW ===== */
.row{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:14px;
}

/* ===== BUTTON ===== */
button{
  height:65px;
  border:none;
  border-radius:16px;
  font-size:20px;
  font-weight:600;
  cursor:pointer;
  color:#e5e7eb;
  background:linear-gradient(145deg,#020617,#0f172a);
  box-shadow:8px 8px 16px rgba(0,0,0,0.8),
             -2px -2px 6px rgba(255,255,255,0.05);
  transition:.15s;
}

.app.light button{
  color:#0f172a;
  background:#e2e8f0;
  box-shadow:0 5px 10px rgba(0,0,0,0.15);
}

button:active{
  transform:scale(.96);
}

/* OPERATORS */
.row button:nth-child(4){
  background:linear-gradient(145deg,#38bdf8,#0284c7);
  color:white;
}

/* EQUAL */
.row:last-child button:last-child{
  background:linear-gradient(145deg,#22c55e,#15803d);
  color:white;
}